@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.nav-1 {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.nav-1 .circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
}

.nav-2 {
    display: flex;
    gap: 30px;
}

.nav-2 h4 {
    font-size: 16px;
    font-weight: 600;
}

.nav-2 h5 {
    display: none;
}

.nav-2 span {
    color: rgb(126, 124, 124);
    margin-left: 20px;
}

#nav2 {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 45px;
}

#nav2 h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

#content {
    height: calc(100% - 120px);
    width: 100%;
}

.text-content {
    height: 45%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.text-content::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
}

.text-content::-webkit-scrollbar-thumb {
    background-color: rgb(251, 112, 61);
}

.elem {
    flex-shrink: 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.short-text {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 80px;
}

.short-text h2 {
    font-weight: bold;
}

.short-text h4 {
    font-size: 18px;
    font-weight: 100;
    color: rgb(106, 103, 103);
}

.elem h1 {
    padding: 0 110px;
    /* font-size: 100px; */
    font-size: 7vw;
    font-weight: 500;
}

.img-content {
    height: 55%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.img-content::-webkit-scrollbar {
    display: none;
}

.img-content img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media (max-width: 600px) {
    #nav {
        height: 60px;
        padding: 0 30px;
    }
    
    .nav-1 {
        gap: 2px;
    }
    
    .nav-1 .circle {
        height: 18px;
        width: 18px;
    }

    .nav-2 {
        gap: 30px;
        align-items: center;
    }
    
    .nav-2 h4 {
        display: none;
    }

    .nav-2 h4:nth-child(1) {
        display: initial;
        margin-right: 10px;
    }

    .nav-2 h5 {
        display: block;
        font-size: 18px;
    }
    
    .nav-2 span {
        color: rgb(126, 124, 124);
        margin-left: 15px;
    }

    #nav2 {
        height: 60px;
        background-color: aqua;
        justify-content: space-between;
        gap: 10px;
        padding: 0 18px;
    }
    
    #nav2 h3 {
        text-transform: uppercase;
        font-size: 2.5vw;
        font-weight: 600;
        color: rgb(65, 63, 63);;
    }

    #content {
        height: calc(100% - 120px);
    }
    
    .text-content {
        height: 35%;
        width: 100%;
    }
    
    .text-content::-webkit-scrollbar {
        height: 6px;
    }
    
    .elem {
        width: fit-content;
        margin-right: 14%;
    }
    
    .short-text {
        display: none;
    }
    
    .elem h1 {
        padding: 0;
        font-size: 14vw;
        font-weight: 500;
        white-space: nowrap;
    }
    
    .img-content {
        height: 65%;
    }
    
}